#pcChart {
    /* position: relative;
    float: left;
    top: 20px; */
}

/* Change overall text size */
#pcChart text {
    font-family: sans-serif;
    font-size: 0.6em;
}

/* Change the axes labels */
.dimension .label {
    cursor: move !important;
    font-weight: bold;
    font-size: 11px !important;
}

.tick text {
    cursor: default !important;
}

#tooltip {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

rect.background {
    fill: none;
}
/* 
.brush {
    opacity: 0.1;
} */

.domain {
    fill: darkgray;
}